<footer class="footer">
    <div class="contain">
        <div class="footer__corp">© «Ример», 2015</div>
        <div class="footer__info">
            <a href="mailto:rimer@itegro.ru" class="footer__link link">rimer@itegro.ru</a>
            <div class="footer__numb">+7 (473) 262-20-62</div>
            <div class="footer__addres">
                г. Воронеж, ул. Старых Большевиков, 53А, оф. 511
            </div>
        </div>
        <div class="unona">
            <div class="unona__text">Cделала</div>
            <a href="#" class="unona__link"><img src="img/logo-unona.jpg" alt="Юнона"></a>
        </div>
    </div>
</footer>
</div>
<script src="js/main.js"></script>
</body>
</html>