
@font-face {
  font-family: 'Impact';
  src: url('../../fonts/Impact.eot?#iefix') format('embedded-opentype'),  url('../../fonts/Impact.woff') format('woff'), url('../../fonts/Impact.ttf')  format('truetype'), url('../../fonts/Impact.svg#Impact') format('svg');
  font-weight: normal;
  font-style: normal;
}
