
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('../../fonts/ProximaNova-Bold.otf')  format('opentype'),
	     url('../../fonts/ProximaNova-Bold.woff') format('woff'), url('../../fonts/ProximaNova-Bold.ttf')  format('truetype'), url('../../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
