
@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url('../../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),  url('../../fonts/ProximaNova-Extrabld.otf')  format('opentype'),
	     url('../../fonts/ProximaNova-Extrabld.woff') format('woff'), url('../../fonts/ProximaNova-Extrabld.ttf')  format('truetype'), url('../../fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: normal;
  font-style: normal;
}
