* {
  outline: none;
}

$gray:#464646;
$red:#bf1e2d;
$white:#ffffff;
$red2:#e64857;


.color-scheme-1 {
  background: $gray;
  color: $white;
}

.color-scheme-1 .h2 {
  color: $red2;
  margin-bottom: 28px;
}

%fontI {
  font-family: 'Impact';
}


%fontPB {
   font-family: 'ProximaNova-Bold';
 }

%fontPR {
  font-family: 'ProximaNova-Regular';
}

%fontPE {
  font-family: 'ProximaNova-Extrabld';
}


.menu__link,.call__numb,.call__link,.tech__head,.orderacall {
  color:$gray;
}
.main__head:before,.benefits,.footer {
  background: $gray;
}

.footer,.footer__link {
  @extend %fontPB;
}

.h1,.h2 {
  @extend %fontI;
  font-size: 50px;
  text-transform: uppercase;
}

.h3 {
  font-size: 30px;
  text-transform: uppercase;
  color:$red;
  @extend %fontI;
}

%inline-block {
  display: inline-block;
  vertical-align: top;
}


.btn {
  @extend %inline-block;
  text-transform:uppercase ;
  text-decoration: none;

}

.wrapper {
 /* width: 1100px;*/
  padding-top: 30px;
  margin: 0 auto;

}

.header .contain {
  position: relative;
}

.contain {
  max-width: 1300px;
  min-width: 940px;
  padding: 0 60px;
  margin: 0 auto;
}

.link {
  text-decoration: none;

  position: relative;
}

.link:hover {
  color: $red;
}

.link:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  border-bottom: 1px solid;
  opacity: 0.2;

}

.menu {
  list-style-type: none;
  margin-top: 77px;
  padding-left: 0;
  margin-left: 8px;
}

.menu__item {
  display: inline-block;
}

.menu__item-right {
  margin-left: 186px;
  position: absolute;
  right: 60px;
  top: 77px;
}

.menu__link {
  @extend %fontPE;
  text-transform: uppercase;
  font-size: 17px;
  margin-left: 26px;
}

.menu__link:hover {
  color:$red;
  border-bottom-color: $red;
}

.call {
  text-align: right;
  position: absolute;
  right: 60px;
  top:0;

}
.call__numb {
  @extend %fontPR;
  font-size: 25px; /* Приближение из-за подстановки шрифтов */
  line-height: 20px; /* Приближение из-за подстановки шрифтов */
  text-align: right;
  margin: 9px 0 6px;
}

.call__link {
  margin-top: 6px;
  font-size: 17px;
  text-align: right;
}

.logo,.navigation{
  @extend  %inline-block;
}


.main {
  height: 341px;
  height: 32vw;
  background: url("../img/project-g.jpg") 50% 86% no-repeat;
  background-size: cover;
}

.main .contain {
  padding-top: 11%;
}

.main__head,.benefits__header,.projects__link,.footer,.footer__link {
  color:$white;
}


.main__head {

  text-align: center;
  position: relative;
  z-index: 1;
  margin: 6px 0 0;
  letter-spacing: 1px;
  @media (max-width:1121px) {
    font-size:47px;

  }

}

.main__head:before {
  position: absolute;
  content: '';
  opacity: .8;
  z-index: -1;
  max-width: 958px;
  right: 0;
  left: 0;
  top: 9px;
  margin: 0 auto;
  bottom: 10px;
  @media (max-width:1121px) {
    max-width: 920px;
  }


}

.benefits__head{
  color: $red2;
  font-family: Impact;
  font-size: 50px;
  letter-spacing: 0.5px;
  margin-top: 53px;

}

.benefits__list {
  font-size: 0;
  margin-top: 6px;
  padding-bottom: 102px;
}

.benefits__item,.benefits__btn,.benefits__head{
  @extend %inline-block;
}

.benefits__item {
  width: 21%;
  padding-right: 5%;
}

.benefits__item:last-child {
  padding-right:0;

}

.benefits__header {
  font-size: 30px;
  @extend %fontI;
  text-transform: uppercase;
  letter-spacing: normal;
}

.benefits__btn {
  color:black;
  padding: 19px 29px 16px;
  margin-top: 62px;
  background: $red2;
  font-size: 16px;
  line-height: 13px;
  float: right;
  @extend %fontPB;
  text-decoration: none;
  text-transform: uppercase;

}

.benefits__btn:hover {
  background: $red;
}

.benefits__text {
  @extend %fontPR;
  letter-spacing: normal;
  color: #ffffff;
  font-size: 17px; /* Приближение из-за подстановки шрифтов */
  line-height: 21px; /* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.benefits-white {
  background: $white;
  padding: 63px 0 0;
}
.benefits-white .benefits__text {
 color: inherit;
}

.benefits-white .benefits__header {
  color: $gray;
}

.benefits-white .benefits__list  {
  padding-bottom:44px;
}


.projects {
  font-size: 0;


}

.projects__wrap {
  position: relative;
  @extend %inline-block;
  width: 25%;
  height: 184px;
}



.projects__item {

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  display: inline-table;
  position: relative;
  width: 25%;
  height: 184px;
  height: 17vw;

}

.projects__item:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(70, 70, 70, 0.6);
  z-index: 0;
}

.projects__item:hover:before {
  background: none;
}

.projects__item-b {
  background:$gray url("../img/11.jpg") no-repeat center;
  background-size: cover;
}

.projects__item-i {
  background:$gray  url("../img/map-2.jpg") no-repeat center;
  background-size: cover;
}

.projects__item-e {
  background:$gray url("../img/DSC00018.jpg") no-repeat center;
  background-size: cover;
}



.projects .projects__item.projects__item-other:before {
  background: $red url("../img/_arrow-big-right.png") no-repeat center;
}

.projects__item-g {
  background:$gray url("../img/project-g.jpg") no-repeat center;
  background-size: cover;
}

.projects__item-bk {
  background:$gray url("../img/p-bk.jpg") no-repeat center;
  background-size: cover;
}

.projects__item-bg {
  background:$gray url("../img/p-bg.jpg") no-repeat center;
  background-size: cover;
}


.projects__item-bv {
  background:$gray url("../img/p-bv.jpg") no-repeat center;
  background-size: cover;
}

.projects__item-sk {
  background:$gray url("../img/p-sk.jpg") no-repeat center;
  background-size: cover;
}

.projects__item-bpk {
  background:$gray url("../img/p-bpk.jpg") no-repeat center;
  background-size: cover;
}

.projects__item-pr {
  background:$gray url("../img/pr.jpg") no-repeat center;
  background-size: cover;
}

.projects .projects__item.projects__item-other:hover {
  background: $red2 url("../img/arrow-big-right.png") no-repeat center;
}

.slider .projects__item{
  width: 100%;
  max-width: 434px;
  height: 230px;
}

.slider {
}

.slider-col3 {
  height: 232px;
}

.slider .projects__item:before {
  background: none;
}

.projects__text{
  font-size: 22px;
  @extend %fontPB;
  color:$white;
  vertical-align: middle;
  display: table-cell;
  position: relative;


}

.projects__item:hover .projects__text {
  display: none;
}

.projects__item:hover.projects__item-other .projects__text {
  display: table-cell;
}



.tech {
  text-align: center;

}


.tech__head {
  margin:69px 0 57px ;
}

.tech__item {
  @extend %inline-block;
  width: 21%;
  text-align: left;
  padding: 0 2%;
  margin-bottom: 80px;
}

.tech__title {
  color: #464646;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: .75px;
  text-transform: uppercase;
  margin: 30px 0 30px;
  @extend %fontI;

}

.tech__list {
  text-align: left;
  font-size: 0;
}

.tech__avatar {
  height: 142px;
}

.tech__avatar img {
  width: 100%;
}

.tech__text {
  font-size: 17px;

  @extend %fontPR;
  letter-spacing: normal;
}

.slick-prev:before,.slick-next:before {
  font-size: 0;
}


.slick-prev,.slick-prev:focus, .slick-prev:hover
{
  background: url("../img/arrow-left.png");
  width: 20px;
  height: 32px;
  top: 43%;
}

.slick-next, .slick-next:focus, .slick-next:hover
{
  background: url("../img/arrow-right.png");
  width: 20px;
  height: 32px;
  top: 43%;
}


.slider-col3 .slick-prev,.slider-col3 .slick-prev:focus,.slider-col3 .slick-prev:hover
{
 left: -45px;
  top: 50%;
}

.slider-col3 .slick-next,.slider-col3 .slick-next:focus,.slider-col3 .slick-next:hover
{
  right: -45px;
  top: 50%;
}


.slick-slide img {
  margin: 0 auto;
  width: 80%;
}

.slick-initialized .slick-slide {
  display: table-cell;
  vertical-align: middle;
  float: none;
}


.orderacall__wrap {
  border:5px solid $red;
  width: 769px;
  height: 124px;
  margin: 36px auto 44px;
  padding: 35px 43px 51px;
}

.orderacall__head {

  text-transform: uppercase;
  @extend %fontI;
  color:  $gray;
  font-size: 30px;
  letter-spacing: 0.75px;
  line-height: 30px;
}

.orderacall__text {
  font-size: 17px;
}

.form__input {
  color: black;
  border: 1px solid $gray;
  padding: 14px 15px;
  width: 226px;
  margin-right: 8px;
  font-size: 17px;

}

.form__input::-webkit-input-placeholder {color:black;}
.form__input::-moz-placeholder          {color:black;}/* Firefox 19+ */
.form__input:-moz-placeholder           {color:black;}/* Firefox 18- */
.form__input:-ms-input-placeholder      {color:black;}

.btn {
  color: $white;
  background: $red;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 40px;
  border: 0;
  @extend %fontPR;
}

.btn:hover {
  background: $red2;
}



.footer__corp,.footer__info,.unona {
  @extend %inline-block;
  padding:25px 0 29px;
}

.footer__corp {
  @extend %fontPR;
  margin-right: 28px;
}

.footer__info {
  margin: 0;
}

.footer__numb {
  margin:4px 0;
}

.unona {
  text-align: right;
  float: right;
  @extend %fontPR;
}

.unona__text,.unona__link {
  display: inline-block;
  vertical-align: middle;
}

.unona__text {

}

.unona__link {
 text-decoration: none;
  margin-left: 5px;
}

.contacts {
  margin-top: 6px;
  font-size: 0;
}

.contacts__left,.contacts__right {
  width: 50%;
  @extend %inline-block;
}

.contact__contain{
  max-width: 650px;
  margin-left: auto;
  padding-left: 60px;
}

.contact {
  background: $gray;
  padding-top: 66px;
  height: 284px;
}

.contact__head {
  color: $red2;
  padding: 0;
  margin: 0;
}

.contact__numb {
  text-transform: uppercase;
  color: $white;
  @extend %fontI;
  font-size: 30px;
  margin: 33px 0 14px;
}

.contact__addres {
  color: $white;
  margin-bottom: 10px;
  font-size: 17px;
}

.orderacall-white {
  background: $white;
  padding-top: 55px;
  padding-bottom: 55px;

}

.contact__link {
  @extend %fontPR;
  color: $white;
  margin-top: 20px;
  font-size: 17px;
}

.orderacall-white .orderacall__head {
  margin-bottom: 22px;
}


.orderacall-white .form__input {
  margin: 5px 0 10px;
  width: 260px;
  font-size: 17px;
  display: block;
}

.orderacall-theme {
  display: inline-block;
  width: 50%;
}

.orderacall-theme .form__input  {
  margin: 5px 0 10px;
}

.orderacall-theme .orderacall__wrap {
  width: 384px;
  height: auto;
  padding: 74px 14px 74px 43px;
  margin-left: 50px;
}

.orderacall-theme .btn {
  margin-top: 17px;
  width: 291px;
}

.orderacall-white .btn {
  margin-top: 17px;
  width: 291px;
}

.orderacall-tech .orderacall__wrap {
  margin-top: 0;
}


.section.section-about{
  padding-bottom: 103px;
}

.about__contain {
  padding: 0 23px;
}

.section-about .section__head {
  margin: 25px 0 10px;
}

.section {
  font-size: 0;
  padding-top: 28px;
  padding-bottom: 65px;
}


.section__item {
  @extend %inline-block;
  width: 45%;
  padding-right: 10%;
  font-size: 17px;
  @extend %fontPR;
}

.section__item-right {
  padding-right: 0;
}

.section__list{
  list-style-type: none;
  padding-left: 0;
}

.section__list li:before {
  content: '•';
  padding-right: 20px;

}




.menu2 {
  background: $gray;
  position: relative;


}

.section-about .contain {
  padding-top: 2%;
}

.menu2__list {
  list-style-type: none;
  font-size: 0;
  margin: 0;
  padding: 0;
/*  width: 514px;*/
}

.menu2__item {
  @extend %inline-block;

}

.menu2__item:first-child:hover:before {
  position: absolute;
  content: '';
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$red+0,bf1e2d+37,464646+37,464646+100 */
  background: $red; /* Old browsers */
  background: -moz-linear-gradient(left,  $red 0%, $red 37%, $gray 37%, $gray 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  $red 0%,$red 37%,$gray 37%,$gray 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  $red 0%,$red 37%,$gray 37%,$gray 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf1e2d', endColorstr='#464646',GradientType=1 ); /* IE6-9 */
  z-index: 1;
}

.menu2__item:last-child:hover:before {
  position: absolute;
  content: '';
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#464646+0,464646+28,464646+28,bf1e2d+28,bf1e2d+99 */
  background: #464646; /* Old browsers */
  background: -moz-linear-gradient(left,  #464646 0%, #464646 28%, #464646 28%, #bf1e2d 28%, #bf1e2d 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #464646 0%,#464646 28%,#464646 28%,#bf1e2d 28%,#bf1e2d 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #464646 0%,#464646 28%,#464646 28%,#bf1e2d 28%,#bf1e2d 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#bf1e2d',GradientType=1 ); /* IE6-9 */
  z-index: 1;
}

.menu2__item:last-child:hover .menu2__link,.menu2__item:first-child:hover .menu2__link {
  background: $red;
}

.menu2__link {
  color: $white;
  position: relative;
  z-index: 2;
  font-size: 16px;
  text-decoration: none;
  @extend %fontPB;
  text-transform: uppercase;
  padding: 14px 19px;
  display: block;
  background: $gray;
}

.menu2__link:hover {
  background: $red;
}

.scheme {
  padding: 36px 0 52px;
  font-size: 0;
}

.scheme__list {
  width: 50%;
  @extend %inline-block;
}

.scheme__item {
  padding: 17px 0;

}

.scheme__head {
  color: $red;
  text-align: center;
  letter-spacing: normal;
}

.scheme__title {
  color: #464646;
  font-size: 30px;
  letter-spacing: .75px;
  line-height: 30px;
  @extend %fontI;
  text-transform: uppercase;
  @extend %inline-block;
  width: 40%;
  text-align: right;

}

.scheme__text {
  @extend %inline-block;
  @extend %fontPR;
  font-size: 17px;
  width: 49%;
  padding:0 5%;
  letter-spacing: normal;
}

.scheme-theme .scheme__item {
  @extend %inline-block;
  width: 22%;
}

.scheme-theme .scheme__title {
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}

.scheme-theme .scheme__head {
  text-align: left;
}


.scheme-theme .scheme__text {
  width: 100%;
  padding: 0;
}

.scheme-theme .scheme__list {
  width: 100%;
  letter-spacing: 34px;
  font-size: 12px;
}

.table {
  width: 100%;
}

.td {
  padding: 10px 13px;
  text-align: center;
}

.tr:nth-child(even) {
  background:#ebebeb ;
}

.table__thead {
  background: $gray;
  color: white;
  text-transform: uppercase;
}



.h1,.h2 {
  margin-top: 0;
}
.contain {
  padding-top: 5%;
}

.section {
  padding-top: 0;
}

.scheme {
  padding-top: 0;
}

.benefits__btn {
  margin-top: 0;
}

.header .contain {
  padding: 0 60px;
}

.contact {
  background: #464646;
  padding-top: 10%;
}

.orderacall-white {
  padding-top: 10%;
}

.orderacall__wrap {
  margin: 11px auto 44px;
}

.menu2 > .contain {
  padding: 0 60px;
}

.benefits-white {
  padding-top: 0;
}

