//= template/head.html
    <div class="color-scheme-1">
        <nav class="menu2">
            <div class="contain">
            <ul class="menu2__list">
                <li class="menu2__item"><a href="#" class="menu2__link">Почему мы</a></li>
                <li class="menu2__item"><a href="#" class="menu2__link">Документы</a></li>
                <li class="menu2__item"><a href="#" class="menu2__link">Вакансии</a></li>
                <li class="menu2__item"><a href="#" class="menu2__link">События</a></li>
            </ul>
            </div>
        </nav>
        <section class="section section-about">
            <div class="contain">

                <div class="about__contain">
                    <h2 class="section__head h2">О компании</h2>
                    <div class="section__item">
                        <p>Компания «Ример» предлагает свои услуги в качестве подрядчика для выполнения работ по
                            прокладке коммуникаций методом горизонтально-направленного бурения.</p>

                        <p>Ориентировочные расценки на проведения работ приведены в разделе услуги. Точные расценки на
                            работымогут быть предоставлены после обследования места проведения работ. Расценки зависят
                            условий выполнения работ, удаленности места проведения работ, характеристик грунта</p>
                    </div>
                    <div class="section__item section__item-right">
                        <p>Качественно выполнить работы на объекте позволяют ресурсы «Ример»:</p>
                        <ul class="section__list">
                            <li>собственный штат проектировщиков, монтажников и инженеров;</li>
                            <li>строительная техника: две установки горизонтального-направленного бурения с тяговым
                                усилием 3,5 и18 тонн;
                            </li>
                            <li>экскаватор-погрузчик;</li>
                            <li>кран-манипулятор на базе вездехода Камаз 43118 (6х6).</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="benefits benefits-white">
        <div class="contain">

            <div class="benefits__list">
                <div class="benefits__item">
                    <div class="benefits__header">автономность</div>
                    <p class="benefits__text">Наши комплексы включают в себя технику для транспортировки установок ГНБ,<br> насосно-смесительные узлы, цистерны для доставки воды для бурения</p>
                </div>
                <div class="benefits__item">
                    <div class="benefits__header">стаж</div>
                    <p class="benefits__text">У нас работают профессионалы с более чем 10-летним стажем в области ГНБ</p>
                </div>
                <div class="benefits__item">
                    <div class="benefits__header">большой парк</div>
                    <p class="benefits__text">Парк установок ГНБ с усилием протяжки от 4 до 18 тонн, позволяющий выполнять работы с оптимальным соотношением цены и качества</p>
                </div>
                <div class="benefits__item">
                    <div class="benefits__header">айтегро</div>
                    <p class="benefits__text">Компания «Ример» входит Группу компаний «Айтегро» - ведущего IT интегратора центрально-черноземного региона. Возможности компании могут быть расширены за счет ГК «Айтегро»</p>
                </div>
            </div>
        </div>
    </section>


    <div class="orderacall">
        <div class="contain">
            <div class="orderacall__wrap">
                <div class="orderacall__head">
                    оставьте заявку
                </div>
                <p class="orderacall__text">Начните сотрудничество с нами прямо сейчас</p>

                <form action="action.php" class="form">
                    <input class="form__input" type="text" placeholder="Имя">
                    <input class="form__input" type="text" placeholder="Телефон">
                    <button type="submit" class="btn">Заказать звонок</button>
                </form>
            </div>
        </div>
    </div>

//= template/footer.html


