//= template/head.html

<div class="contacts">
        <div class="contacts__left">



            <section class="contact">
                <div class="contact__contain">
                    <h2 class="contact__head h2">Контакты</h2>
                    <div class="contact__numb">+7 (473) 262-20-62</div>
                    <div class="contact__addres">
                        г Воронеж, ул. Старых Большевиков 53А, оф. 511
                    </div>
                    <a href="mailto:info@itegro.ru" class="contact__link link">info@itegro.ru</a>
                </div>
            </section>

            <div class="contact__contain">
                <div class="orderacall orderacall-white">
                        <div class="orderacall__head">
                            Закажите обратный звонок
                        </div>
                        <form action="" class="form">
                            <input class="form__input" type="text" placeholder="Имя">
                            <input class="form__input" type="text" placeholder="Телефон">
                            <button type="submit" class="btn">Заказать звонок</button>
                        </form>
                </div>
            </div>
        </div>

    <div class="contacts__right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2474.1557383396216!2d39.24821431586319!3d51.67529230623444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x413b2fa34029b347%3A0xa2938ee9b87fe2d2!2z0JDQudGC0LXQs9GA0L4!5e0!3m2!1sru!2sru!4v1454168380354" width="100%" height="700" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

//= template/footer.html