//= template/head.html

    <section class="main">
        <div class="contain">
            <h1 class="main__head h1">Бестраншейная  прокладка  КОММУНИКАЦИЙ</h1>
        </div>
    </section>
    <section class="benefits">
        <div class="contain">
            <h2 class="benefits__head h2">почему выбирают нас</h2>
            <a href="#" class="benefits__btn">начать сотрудничество</a>

            <div class="benefits__list">
                <div class="benefits__item">
                    <div class="benefits__header">автономность</div>
                    <p class="benefits__text">Наши комплексы включают в себя технику для транспортировки установок ГНБ,<br> насосно-смесительные узлы, цистерны для доставки воды для бурения</p>
                </div>
                <div class="benefits__item">
                    <div class="benefits__header">стаж</div>
                    <p class="benefits__text">У нас работают профессионалы с более чем 10-летним стажем в области ГНБ</p>
                </div>
                <div class="benefits__item">
                    <div class="benefits__header">большой парк</div>
                    <p class="benefits__text">Парк установок ГНБ с усилием протяжки от 4 до 18 тонн, позволяющий выполнять работы с оптимальным соотношением цены и качества</p>
                </div>
                <div class="benefits__item">
                    <div class="benefits__header">айтегро</div>
                    <p class="benefits__text">Компания «Ример» входит Группу компаний «Айтегро» - ведущего IT интегратора центрально-черноземного региона. Возможности компании могут быть расширены за счет ГК «Айтегро»</p>
                </div>
            </div>
        </div>
    </section>
    <div class="projects">
        <a href="#" class="projects__item projects__item-b"><div class="projects__text">балтимор</div></a>
        <a href="#" class="projects__item projects__item-i"><div class="projects__text">индустриальный парк «масловский»</div></a>
        <a href="#" class="projects__item projects__item-e"><div class="projects__text">Эфко</div></a>
        <a href="#" class="projects__item projects__item-other"><div class="projects__text">другие проекты</div></a>
    </div>
    <section class="tech">
        <div class="contain">
            <h2 class="tech__head h2">используемая техника</h2>
            <div class="slider slider-col4">
                <div><img src="img/Hanlyma-hl518b.jpg" alt="техника"></div>
                <div><img src="img/43118.jpg" alt="техника"></div>
                <div><img src="img/50.jpg" alt="техника"></div>
                <div><img src="img/Vermeer7x11a.jpg" alt="техника"></div>
                <div><img src="img/Hanlyma-hl518b.jpg" alt="техника"></div>
                <div><img src="img/43118.jpg" alt="техника"></div>
                <div><img src="img/50.jpg" alt="техника"></div>
                <div><img src="img/Vermeer7x11a.jpg" alt="техника"></div>
            </div>
        </div>
    </section>
    <div class="orderacall">
        <div class="contain">
            <div class="orderacall__wrap">
                <div class="orderacall__head">
                    оставьте заявку
                </div>
                <p class="orderacall__text">Начните сотрудничество с нами прямо сейчас</p>

                <form action="action.php" class="form">
                    <input class="form__input" type="text" placeholder="Имя">
                    <input class="form__input" type="text" placeholder="Телефон">
                    <button type="submit" class="btn">Заказать звонок</button>
                </form>
            </div>
        </div>
    </div>

//= template/footer.html


