//= template/head.html

    <div class="main">
        <div class="contain">

        </div>
    </div>

    <section class="scheme">
        <div class="contain">


            <div class="scheme__list">
                <h2 class="scheme__head h2">Схема работы</h2>
                <div class="scheme__item">
                    <div class="scheme__title">Заявка</div>
                    <div class="scheme__text">Вы оставляете заявку с сайта или по телефону с описанием необходимых
                        работ
                    </div>
                </div>
                <div class="scheme__item">
                    <div class="scheme__title">Консультация</div>
                    <div class="scheme__text">Наш специалист узнаёт у вас подробности и уточняет детали</div>
                </div>
                <div class="scheme__item">
                    <div class="scheme__title">ТКП</div>
                    <div class="scheme__text">Мы составляем технико-коммерческое предложение с решением вашей задачи,
                        включая цены и сроки работ
                    </div>
                </div>
                <div class="scheme__item">
                    <div class="scheme__title">Выполнение</div>
                    <div class="scheme__text">Мы оказываем услуги в соответствии с предложенным ТКП</div>
                </div>
            </div>

            <div class="orderacall orderacall-theme">
                <div class="orderacall__wrap">
                    <div class="orderacall__head">
                        оставьте заявку
                    </div>
                    <p class="orderacall__text">Начните сотрудничество с нами прямо сейчас</p>

                    <form action="action.php" class="form">
                        <input class="form__input" type="text" placeholder="Имя">
                        <input class="form__input" type="text" placeholder="Телефон">
                        <button type="submit" class="btn">Заказать звонок</button>
                    </form>
                </div>
            </div>
        </div>
    </section>



//= template/footer.html


