//= template/head.html

<section class="section color-scheme-1">
    <div class="contain">

     
            <h2 class="section__head h2">Гнб</h2>
            <div class="section__item">
                <p>Широко известный метод открытой (траншейной) прокладки имеет ряд существенных недостатков. Зачастую приходится уничтожать деревья и кустарники, осуществлять перекрытие магистралей и дорог, нарушать визуальную привлекательность местности. Прокладка коммуникаций открытым способом невозможна там, где сегодня проложены железные дороги, существуют различные природные либо искусственные преграды.</p>
            </div>
            <div class="section__item section__item-right">
                <p>Горизонтально-направленное бурение позволяет:</p>
                <ul class="section__list">
                    <li>Упростить процессы проведения коммуникаций</li>
                    <li>Сократить период введения в эксплуатацию дома</li>
                    <li>Сохранить в целости дорожные покрытия</li>
                    <li>Обойтись без уничтожения насаждений и загрязнения участка</li>
                </ul>
            </div>
    </div>
</section>

<div class="projects">
    <div class="contain">

        <div class="slider slider-col3">
            <div>
                <a href="#" class="projects__item projects__item-g">
                </a>
            </div>
            <div>
                <a href="#" class="projects__item projects__item-bk">
                </a>
            </div>
            <div>
                <a href="#" class="projects__item projects__item-bg">
                </a>
            </div>
            <div>
                <a href="#" class="projects__item projects__item-bv">
                </a>
            </div>
            <div>
                <a href="#" class="projects__item projects__item-sk">
                </a>
            </div>
            <div>
                <a href="#" class="projects__item projects__item-bpk">
                </a>
            </div>
            <div>
                <a href="#" class="projects__item projects__item-pr">
                </a>
            </div>
            <div>
                <a href="#" class="projects__item projects__item-other">
                    <div class="projects__text">другие проекты</div>
                </a>
            </div>

        </div>
    </div>
</div>

<div class="section">

    <div class="contain">
        <div class="section__item">
            <div class="article">
                <h3 class="article__head h3">Как осуществляется <br>горизонталное бурение</h3>

                <p>Наша команда имеет весь спектр оборудования, в том числе, «Камаз 53212» — настоящую лабораторию на
                    колесах, которая позволяет группе из 6 человек непрерывно трудиться в далеких заповедных зонах, на
                    реках и в экстремальных условиях.</p>

                <p>Имеющиеся опыт и навыки наших технологов позволяют в самый короткий срок провести подготовительный
                    этап ГНБ-бурения, обеспечить анализ грунта, понять географию имеющихся коммуникаций, рассчитать
                    количество необходимого оборудования. После этого мы переходим к логистически выверенной установке
                    ГНБ-оборудования, обеспечиваем быстрое расширение скважины, а также осуществляем протаскивание труб,
                    по завершении работ предоставляя схему расположения трубопровода заказчику.</p>
            </div>
        </div>

        <div class="section__item section__item-right">
            <div class="article">
                <h3 class="article__head h3">Прайс-лист по по прокладке труб</h3>
                <table class="table">
                    <thead class="table__thead">
                    <tr class="tr">
                        <td class="td">Диаметр трубы</td>
                        <td class="td">до 300 пог.м</td>
                        <td class="td">от 300 пог. м</td>
                    </tr>
                    </thead>
                    <tbody>


                    <tr class="tr">
                        <td class="td">63</td>
                        <td class="td">1100-1600</td>
                        <td class="td">1050-1600</td>
                    </tr>
                    <tr class="tr">
                        <td class="td">90</td>
                        <td class="td">1300-2000</td>
                        <td class="td">1200-1700</td>
                    </tr>
                    <tr class="tr">
                        <td class="td">110</td>
                        <td class="td">1800-2700</td>
                        <td class="td">1700-2350</td>
                    </tr>

                    <tr class="tr">
                        <td class="td">160</td>
                        <td class="td">2500-3700</td>
                        <td class="td">2400-3300</td>
                    </tr>
                    <tr class="tr">
                        <td class="td">225</td>
                        <td class="td">3100-4600</td>
                        <td class="td">3000-4200</td>
                    </tr>
                    <tr class="tr">
                        <td class="td">315</td>
                        <td class="td">3500-5200</td>
                        <td class="td">3400-4800</td>
                    </tr>
                    <tr class="tr">
                        <td class="td">400</td>
                        <td class="td">4500-6600</td>
                        <td class="td">договорная</td>
                    </tr>
                    <tr class="tr">
                        <td class="td">500</td>
                        <td class="td">6000-9000</td>
                        <td class="td">договорная</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




    <section class="scheme scheme-theme">
        <div class="contain">
            <div class="scheme__list">
                <h2 class="scheme__head h2">Схема работы</h2>
                <div class="scheme__item">
                    <div class="scheme__title">Заявка</div>
                    <div class="scheme__text">Вы оставляете заявку с сайта или по телефону с описанием необходимых
                        работ
                    </div>
                </div>
                <div class="scheme__item">
                    <div class="scheme__title">Консультация</div>
                    <div class="scheme__text">Наш специалист узнаёт у вас подробности и уточняет детали</div>
                </div>
                <div class="scheme__item">
                    <div class="scheme__title">ТКП</div>
                    <div class="scheme__text">Мы составляем технико-коммерческое предложение с решением вашей задачи,
                        включая цены и сроки работ
                    </div>
                </div>
                <div class="scheme__item">
                    <div class="scheme__title">Выполнение</div>
                    <div class="scheme__text">Мы оказываем услуги в соответствии с предложенным ТКП</div>
                </div>
            </div>

            <div class="orderacall">
                <div class="orderacall__wrap">
                    <div class="orderacall__head">
                        оставьте заявку
                    </div>
                    <p class="orderacall__text">Начните сотрудничество с нами прямо сейчас</p>
                    <form action="action.php" class="form">
                        <input class="form__input" type="text" placeholder="Имя">
                        <input class="form__input" type="text" placeholder="Телефон">
                        <button type="submit" class="btn">Заказать звонок</button>
                    </form>
                </div>
            </div>
        </div>
    </section>



//= template/footer.html


