//= template/head.html

<section class="section color-scheme-1">
    <div class="contain">

     
            <h2 class="section__head h2">Услуги</h2>
            <div class="section__item">
                <p>Компания «Ример»  предлагает свои услуги в качестве подрядчика для выполнения работ по прокладке коммуникаций методом горизонтально-направленного бурения.
                    Качественно выполнить работы на объекте  позволяют ресурсы компании:</p>
            </div>
            <div class="section__item section__item-right">
                <ul class="section__list">
                    <li>собственный штат проектировщиков, монтажников и инженеров;</li>
                    <li>строительная техника: две установки ГНБ с тяговым усилием 3,5 и 18 тонн
                    </li>
                    <li>экскаватор-погрузчик;</li>
                    <li>кран-манипулятор на базе вездехода Камаз 43118 (6х6).</li>
                </ul>
            </div>
    </div>
</section>

<div class="projects">
    <a href="services-inner.html" class="projects__item projects__item-g"><div class="projects__text">Гнб</div></a>
    <a href="services-inner.html" class="projects__item projects__item-bk"><div class="projects__text">Бестраншейная прокладка кабеля</div></a>
    <a href="services-inner.html" class="projects__item projects__item-bg"><div class="projects__text">Бестраншейная прокладка газопровода</div></a>
    <a href="services-inner.html" class="projects__item projects__item-bv"><div class="projects__text">Бестраншейная прокладка водопровода</div></a>

    <a href="services-inner.html" class="projects__item projects__item-sk"><div class="projects__text">Строительство кабельной канализации ГНБ</div></a>
    <a href="services-inner.html" class="projects__item projects__item-bpk"><div class="projects__text">Бестраншейная прокладка канализации</div></a>
    <a href="services-inner.html" class="projects__item projects__item-pr"><div class="projects__text">Проектирование</div></a>
    <a href="services-inner.html" class="projects__item projects__item-other"><div class="projects__text">другие проекты</div></a>
</div>

    <section class="scheme">
        <div class="contain">
            <div class="scheme__list">
                <h2 class="scheme__head h2">Схема работы</h2>
                <div class="scheme__item">
                    <div class="scheme__title">Заявка</div>
                    <div class="scheme__text">Вы оставляете заявку с сайта или по телефону с описанием необходимых
                        работ
                    </div>
                </div>
                <div class="scheme__item">
                    <div class="scheme__title">Консультация</div>
                    <div class="scheme__text">Наш специалист узнаёт у вас подробности и уточняет детали</div>
                </div>
                <div class="scheme__item">
                    <div class="scheme__title">ТКП</div>
                    <div class="scheme__text">Мы составляем технико-коммерческое предложение с решением вашей задачи,
                        включая цены и сроки работ
                    </div>
                </div>
                <div class="scheme__item">
                    <div class="scheme__title">Выполнение</div>
                    <div class="scheme__text">Мы оказываем услуги в соответствии с предложенным ТКП</div>
                </div>
            </div>
            <div class="orderacall orderacall-theme">
                <div class="orderacall__wrap">
                    <div class="orderacall__head">
                        оставьте заявку
                    </div>
                    <p class="orderacall__text">Начните сотрудничество с нами прямо сейчас</p>
                    <form action="action.php" class="form">
                        <input class="form__input" type="text" placeholder="Имя">
                        <input class="form__input" type="text" placeholder="Телефон">
                        <button type="submit" class="btn">Заказать звонок</button>
                    </form>
                </div>
            </div>
        </div>
    </section>



//= template/footer.html


