//= template/head.html

<section class="section color-scheme-1">
    <div class="contain">


        <h2 class="section__head h2">Используемая Техника</h2>
        <div class="section__item">
            <p>У нас полностью автономные буровые комплексы, включающие в себя технику для транспортировки установок ГНБ, насосно-смесительные узлы, цистерны для доставки воды для бурения</p>
        </div>
        <div class="section__item section__item-right">
           <p>Парк установок ГНБ с усилием протяжки от 4 до 18 тонн, позволяющий выполнять работы с оптимальным соотношением цены и качества</p>
        </div>
    </div>
</section>

    <section class="tech">
        <div class="contain">
            <h2 class="tech__head h2">используемая техника</h2>

            <div class="tech__list">
                <div class="tech__item">
                    <div class="tech__avatar"><img src="img/Hanlyma-hl518b.jpg" alt="техника"></div>

                    <div class="tech__title">Установка ГНБ</div>
                    <div class="tech__text">
                        Hanlyma hl518b тяговое усилие 18 тонн
                    </div>
                </div>
                <div class="tech__item">
                    <div class="tech__avatar"><img src="img/43118.jpg" alt="техника"></div>

                    <div class="tech__title">Камаз 43118</div>
                    <div class="tech__text">
                        камаз-вездеход с краном манипулятором
                    </div>
                </div>
                <div class="tech__item">
                    <div class="tech__avatar"><img src="img/Vermeer7x11a.jpg" alt="техника"></div>

                    <div class="tech__title">Установка ГНБ</div>
                    <div class="tech__text">
                        Vermeer 7x11a тяговое усилие 3,5 тонны
                    </div>
                </div>
                <div class="tech__item">
                    <div class="tech__avatar"><img src="img/50.jpg" alt="техника"></div>

                    <div class="tech__title">Сварочный аппарат</div>
                    <div class="tech__text">
                        для ПНД труб до 250 мм в диаметре сBada SDH 250
                    </div>
                </div>

                <div class="tech__item">
                    <div class="tech__avatar"><img src="img/kamaz-bortovoy.jpg" alt="техника"></div>
                    <div class="tech__title">КАМАЗ 53212</div>
                    <div class="tech__text">
                        бортовой грузовой тягач
                    </div>
                </div>
                <div class="tech__item">
                    <div class="tech__avatar"><img src="img/gas-chayka-servis.jpg" alt="техника"></div>

                    <div class="tech__title">ГАЗ 2784 Е8</div>
                    <div class="tech__text">
                        Чайка-сервис
                    </div>
                </div>
                <div class="tech__item">
                    <div class="tech__avatar"><img src="img/pricep.jpg" alt="техника"></div>

                    <div class="tech__title">Прицеп</div>
                    <div class="tech__text">
                        ЧМЗАП 8358 для перевозки спецтехники
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="orderacall orderacall-tech">
        <div class="contain">
            <div class="orderacall__wrap">
                <div class="orderacall__head">
                    оставьте заявку
                </div>
                <p class="orderacall__text">Начните сотрудничество с нами прямо сейчас</p>

                <form action="action.php" class="form">
                    <input class="form__input" type="text" placeholder="Имя">
                    <input class="form__input" type="text" placeholder="Телефон">
                    <button type="submit" class="btn">Заказать звонок</button>
                </form>
            </div>
        </div>
    </div>

//= template/footer.html


